@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

mat-progress-bar {
  position: absolute !important;
  height: .3rem !important;
  top: 0 !important;
  z-index: 500;
}
